@media (max-width: 375px) {
  .winner {
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(../astess/img/obhavo-3.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    .winner__left {
      padding: 19px;
      margin-bottom: 40px;

      .img {
        margin-bottom: 100px;
        width: 39px;
        height: 20px;
      }
      .winner__day {
        gap: 5px;

        h1 {
          color: #fff;
          font-size: 64px;
        }
        div {
          row-gap: 4px;
          h2 {
            font-size: 30px;
          }
          h3 {
            font-size: 10px;
          }
        }
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
    .winner__right {
      width: 100%;
      .main__section {
        .serch {
          position: relative;
          top: -00px;
          padding-bottom: none;
        }
      }
    }
  }
  .winner__title {
    h1 {
      border-top: none;
    }
  }

  .winner__today {
    display: none !important;
  }

  .twind {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
  }
}

@media (min-width: 375px) and (max-width: 982px) {
  .winner {
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(../astess/img/obhavo-2.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    .winner__left {
      padding: 19px;
      margin-bottom: 40px;

      .img {
        margin-bottom: 200px;
        width: 60px;
        height: 31.372px;
      }
      .winner__day {
        gap: 5px;

        h1 {
          color: #fff;
          font-size: 120px;
        }
        div {
          row-gap: 10px;
          h2 {
            font-size: 48px;
          }
          h3 {
            font-size: 16px;
          }
        }
        img {
          width: 55px;
          height: 55px;
        }
      }
    }
    .winner__right {
      width: 100%;
      .main__section {
        padding-left: 100px;
        padding-right: 100px;
      }
    }
  }
  .twind {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
  }

  .winner__today {
    display: none !important;
  }
}
